<%-include('./header.ejs')%>
<div class="container mt-5 py-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <% if(message.length > 0){ %>
                <div class="alert alert-success">
                    <!-- To Print -->
                    <%= message %>
                </div>
            <% } %>
            <% if(msg.length > 0){ %>
                <div class="alert alert-danger">
                    <!-- To Print -->
                    <%= msg %>
                </div>
            <% } %>
            <div class="text-center bg-info p-2 mb-4">Profile :</div>
            <div class="card">
                <img src="<%= i.url %>" alt="profile-image" class="card-img-top img-fluid" style="border-radius: 30px;">
                <div class="card-body">
                    <h4 class="card-title">Name: <%= n %></h4>
                    <h4 class="card-text">Email: <%= e %></h4>
                    <br>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateProfile">Update Profile</button>
                    <button class="btn btn-info ms-2" data-bs-toggle="modal" data-bs-target="#changePassword">Change Password</button>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <!--Update Profile Modal -->
    <div class="modal fade" id="updateProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Profile Update
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/updateProfile" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="">Name</label>
                            <input type="text" name="name" value="<%= n %>" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="">Email</label>
                            <input type="email" name="email" value="<%= e %>" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="">Image</label>
                            <input type="file" name="image" class="form-control">
                            <img src="<%= i.url %>" alt="profile-image" width="50px">
                        </div>
                        <button type="submit" class="btn btn-success">Update Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Update Profile Modal End-->

    <!--Change Password Modal -->
    <div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Update Password
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/changePassword" method="post">
                        <div class="mb-3">
                            <label for="">Old Password</label>
                            <input type="password" name="op" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="">New Password</label>
                            <input type="password" name="np" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="">Confirm Password</label>
                            <input type="text" name="cp" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-success">Update Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Change Password Modal End-->
</div>
<%-include('./footer.ejs')%>