<%-include('../header.ejs')%>

<div class="container mt-5 py-5">
    <% if(msg.length > 0){ %>
        <div class="alert alert-success">
            <!-- To Print -->
            <%= msg %>
        </div>
    <% } %>
    <table class="table table-bordered table-striped mt-5 text-center">
        <thead>
            <tr>
                <th colspan="7">Course Display</th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Course</th>
                <th>Status</th>
                <th>Comment</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% d.forEach((item , i)=>{ %>
                <tr>
                    <td><%= ++i %>.</td>
                    <td><%= item.name %></td>
                    <td><%= item.email %></td>
                    <td><%= item.course %></td>
                    <td><%= item.status %></td>
                    <td><%= item.comment %></td>
                    <td>
                        <a href="/course_view/<%= item._id %>" class="btn btn-primary">View</a>
                        <a href="/course_edit/<%= item._id %>" class="btn btn-info">Edit</a>
                        <!-- <a href="/course_delete/<%= item._id %>" class="btn btn-danger">Delete</a> -->
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%-include('../footer.ejs')%>